TFandEdExamples/log
TFandEdExamples/checkpoints
TFandEdExamples/MNIST-data
TFandEdExamples/MNIST_data

./VariationalBNN/log/*
VariationalBNN/data/*
VariationalBNN/dataTest/*
VariationalBNN/fgsm
VariationalBNN/jsma
cleverhans_core/MNIST_data/
cleverhans_core/examples/*
cleverhans_core/images


*.pyc
*.swp


